<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.broadlink.beiangair"
    android:versionCode="145"
    android:versionName="1.4.5.0415" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>

    <!-- 在SDCard中创建与删除文件权限 -->
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:name="com.beiang.airdog.BeiAngAirApplaction"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="dc120bf5fbca7ca43e43e75bad184a95" />

        <!-- 首界面 -->
        <activity
            android:name="com.beiang.airdog.ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 设备列表 -->
        <activity
            android:name="com.beiang.airdog.ui.activity.DeviceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.beiang.airdog.ui.activity.ProductActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- 添加城市 -->
        <activity
            android:name="com.beiang.airdog.ui.activity.AddCityActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- 关于我们 -->
        <activity
            android:name="com.beiang.airdog.ui.activity.AboutActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- 退出 -->
        <activity
            android:name="com.beiang.airdog.ui.activity.ExitActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 帮助中心 -->
        <activity
            android:name="com.beiang.airdog.ui.activity.HelpActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- 搜索设备 -->
        <activity
            android:name="com.beiang.airdog.ui.activity.ConfigDeviceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- 编辑设备信息 -->
        <activity
            android:name="com.beiang.airdog.ui.activity.EditDeviceInfoActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- 设备控制 -->
        <activity
            android:name="com.beiang.airdog.ui.activity.DeviceControlActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.beiang.airdog.ui.activity.AirDogControlActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.beiang.airdog.ui.activity.DeviceTvActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- 调节音量 -->
        <activity
            android:name="com.beiang.airdog.ui.activity.AirdogVolumeActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.beiang.airdog.ui.activity.AirdogRecordActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.beiang.airdog.ui.activity.AirdogAlarmActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.beiang.airdog.ui.activity.AirdogGetUpAlarmActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.beiang.airdog.ui.activity.AirdogNoticeAlarmActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Airdog界面 -->
        <activity
            android:name="com.beiang.airdog.ui.activity.AirdogActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <!-- Tair界面 -->
        <activity
            android:name="com.beiang.airdog.ui.activity.TairActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- 测试界面 -->
        <activity
            android:name="com.beiang.airdog.ui.activity.DeviceTestActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- 修改昵称 -->
        <activity
            android:name="com.beiang.airdog.ui.activity.EditInfoActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 登陆 -->
        <activity
            android:name="com.beiang.airdog.ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.beiang.airdog.ui.activity.TrdLoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 注册 -->
        <activity
            android:name="com.beiang.airdog.ui.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- 智能云家庭 -->
        <activity
            android:name="com.beiang.airdog.ui.activity.IHomerActivityTest"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.beiang.airdog.ui.activity.IHomerActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
         <activity
            android:name="com.beiang.airdog.ui.activity.IHomerCenterActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.beiang.airdog.ui.activity.IHomerNewHomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.beiang.airdog.ui.activity.IHomerDeviceActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.beiang.airdog.ui.activity.IHomerDeviceDetailsActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
         <activity
            android:name="com.beiang.airdog.ui.activity.IHomerAddDeviceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 设置新密码 -->
        <activity
            android:name="com.beiang.airdog.ui.activity.NewPassActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.beiang.airdog.ui.activity.BindUserActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.beiang.airdog.ui.activity.FreshAirActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 二维码扫描页 -->
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.dtr.zxing.activity.CaptureActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- 二维码编码页 -->
        <activity
            android:name="com.google.zxing.client.android.encode.EncodeActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.dtr.zxing.activity.EncodeActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- 微信回调 -->
        <activity
            android:name="com.broadlink.beiangair.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|navigation|orientation"
            android:exported="true"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- 百度分享 -->
        <activity
            android:name="com.baidu.frontia.activity.share.FrontiaSocialOAuthActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.baidu.frontia.activity.share.FrontiaLocalShareActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.baidu.frontia.activity.share.FrontiaQQFriendShareReceiverActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100358052" />
            </intent-filter>
        </activity>

        <!-- 百度API -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="is7KNmoo314YQWSlaKjo1HQ6" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <!-- 用户微信回调的 activity -->
        <activity
            android:name="com.broadlink.beiangair.activity.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>

        <receiver android:name="com.broadlink.beiangair.receiver.TimerBroadCast" >
        </receiver>

        <!-- 友盟自动更新 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5399388f56240b97b408da0d" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="tenxun" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- 广播监听 -->
        <receiver android:name="com.beiang.airdog.receiver.BABroadcastReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.beiang.airdog.heartbeat" />
            </intent-filter>
        </receiver>
    </application>

</manifest>